{% extends "tablero/base.html" %}
{% load i18n static widget_tweaks %}

{% block extrastyle %}
<style>
    .bg-profileupdate-image {
        background: url("{% if user.avatar %}{{ user.avatar.url }}{% else %}#{% endif %}");
        background-position: center;
        background-size: cover;
    }
    .custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Buscar";
}
</style>
{% endblock %}

{% block body-page %}
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block bg-profileupdate-image"></div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% trans 'Mi Perfil' %}</h1>
                  </div>
                  {% if form.errors and not form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      <strong>{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</strong>
                  </div>
                  {% endif %}

                  {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      <strong>{{ error }}</strong>
                  </div>
                  {% endfor %}
                  {% endif %}

                  <form class="user" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        {% if form.first_name.errors %}
                        {{ form.first_name|attr:'placeholder:Nombre(s)'|add_class:'is-invalid form-control form-control-user' }}
                        <div class="invalid-feedback">{{ form.first_name.errors }}</div>
                        {% else %}
                        {{ form.first_name|attr:'placeholder:Nombre(s)'|add_class:'form-control form-control-user' }}
                        {% endif %}
                      </div>
                      <div class="col-sm-6">
                        {% if form.last_name.errors %}
                        {{ form.last_name|attr:'placeholder:Apellido(s)'|add_class:'is-invalid form-control form-control-user' }}
                        <div class="invalid-feedback">{{ form.last_name.errors }}</div>
                        {% else %}
                        {{ form.last_name|attr:'placeholder:Apellido(s)'|add_class:'form-control form-control-user' }}
                        {% endif %}
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <div class="custom-file"> -->
                        {% if form.avatar.errors %}
                        {{ form.avatar|add_class:'is-invalid form-control' }}
                        <div class="invalid-feedback">{{ form.avatar.errors }}</div>
                        {% else %}
                        {{ form.avatar|add_class:'form-control' }}
                        {% endif %}
                      <!-- </div> -->
                    </div>
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans 'Guardar cambios' %}">
                    <hr>
                    <a href="{% url 'tablero:index' %}" class="btn btn-secondary btn-user btn-block">
                      <i class="fas fa-tachometer-alt fa-fw"></i> Ir al tablero del Sistema
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  {% block all-pages-scripts %} {{ block.super }} {% endblock %}
  {% block page-level-scripts %}
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/bs-custom-file-input.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
    })
  </script>
  {% endblock page-level-scripts %}

</body>
{% endblock %}
