{% extends "tablero/base.html" %}
{% load i18n static widget_tweaks %}

{% block body-page %}
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% trans 'Bienvenido a CertiPro' %}</h1>
                  </div>
                  {% if form.errors and not form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      <strong>{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}</strong>
                  </div>
                  {% endif %}

                  {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      <strong>{{ error }}</strong>
                  </div>
                  {% endfor %}
                  {% endif %}

                  {% if user.is_authenticated %}
                  <div class="alert alert-danger" role="alert">
                  {% blocktrans trimmed %}
                      <strong>You are authenticated as {{ username }}, but are not authorized to
                      access this page.</strong> Would you like to login to a different account?
                  {% endblocktrans %}
                  </div>
                  {% endif %}

                  <form class="user" method="post" action="{% url 'login' %}" novalidate>{% csrf_token %}
                    <div class="form-group">
                      {% if form.username.errors %}
                      {{ form.username|attr:'placeholder:Usuario'|add_class:'is-invalid form-control form-control-user' }}
                      <div class="invalid-feedback">{{ form.username.errors }}</div>
                      {% else %}
                      {{ form.username|attr:'placeholder:Usuario'|add_class:'form-control form-control-user' }}
                      {% endif %}
                      <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."> -->
                    </div>
                    <div class="form-group">
                      {% if form.password.errors %}
                      {{ form.password|attr:'placeholder:Contraseña'|add_class:'is-invalid form-control form-control-user' }}
                      <div class="invalid-feedback">{{ form.password.errors }}</div>
                      {% else %}
                      {{ form.password|attr:'placeholder:Contraseña'|add_class:'form-control form-control-user' }}
                      {% endif %}
                      <input type="hidden" name="next" value="{{ next }}">
                      <!-- <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"> -->
                    </div>
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans 'Ingresar' %}">
                    <!-- <a href="index.html" class="btn btn-primary btn-user btn-block">
                      Login
                    </a> -->
                  </form>
                  <hr>
                  {% url 'admin_password_reset' as password_reset_url %}
                  {% if password_reset_url %}
                  <div class="text-center">
                    <a class="small" href="{{ password_reset_url }}">{% trans '¿Olvidó sus credenciales?' %}</a>
                  </div>
                  {% endif %}
                  <!--
                  <div class="text-center">
                    <a class="small" href="register.html">Create an Account!</a>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  {% block all-pages-scripts %} {{ block.super }} {% endblock %}

</body>
{% endblock %}
