<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreInfoModalLabel"><em>{{ object.tipo_evento }}: {{ object.tema_tratado }}</em></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Lugar: <em>{{ object.auditorio }}</em></li>
          <li class="list-group-item">Comienza: <em>{{ object.fecha_inicio }}</em></li>
          <li class="list-group-item">Termina: <em>{{ object.fecha_fin }}</em></li>
          <li class="list-group-item">Asistentes:
            <ul class="list-group list-group-flush">
              {% for persona in object.asistentes.all %}
              <li class="list-group-item"><em>{{ persona }}</em></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-success" href="{% url 'admin:agenda_evento_change' object.id %}" target="_blank">Editar</a>
      </div>
    </div>
  </div>