<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreInfoModalLabel"><em>{{ object.nombre }}</em></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ubicación: <em>{{ object.localidad }}</em></li>
          </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-success" href="{% url 'admin:auditorios_auditorio_change' object.id %}" target="_blank">Editar</a>
      </div>
    </div>
  </div>