{% extends "tablero/base.html" %}

{% block title %}{{ site_title|default:_('CertiPro: Tablero') }}{% endblock %}

{% block sidebar-nav %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-scroll"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ site_header|default:_('CertiPro') }} <sup>0.1</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Tablero -->
      <li class="nav-item{% if request.path == '/' %} active{% endif %}">
        <a class="nav-link" href="{% url 'index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tablero</span></a>
      </li>

  {% if modulos %}
    {% for nombre_grupo, menu in modulos.items %}
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        {{ nombre_grupo }}
      </div>

      {% for nombre_subrupo, submenu in menu.items %}
      <!-- Nav Item - Collapsable Menu -->
      <li class="nav-item {{ submenu.opciones.estatus }}">
        <a class="nav-link {{ submenu.opciones.plegado }}"{% if submenu.opciones.id %} href="#" data-toggle="collapse" data-target="#{{ submenu.opciones.id }}" aria-expanded="{{ submenu.opciones.expandido }}" aria-controls="{{ submenu.opciones.id }}"{% else %} href="{% url submenu.opciones.url %}"{% endif %}>
          <i class="{{ submenu.opciones.icono }}"></i>
          <span>{{ nombre_subrupo }}</span>
        </a>
        {% if submenu.submenu %}
        <div id="{{ submenu.opciones.id }}" class="collapse {{ submenu.opciones.mostrar }}" aria-labelledby="headingMenu" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            {{ submenu.opciones.encabezado }}
            {% for opcion,aspecto in submenu.submenu.items %}
            <a class="collapse-item {{ aspecto.estatus }}" href="{% url aspecto.url %}">{{ opcion }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    {% endfor %}
  {% endif %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock %}

{% block object-tools %}
<div class="d-sm-flex align-items-center justify-content-end">
  <a href="{% url url_reporte %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-3"><i class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
  <a href="{% url url_admin %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm ml-3" target="_blank"><i class="fas fa-external-link-alt fa-sm text-white-50"></i> Ir al Administrador</a>
</div>
{% endblock %}
