{% extends "tablero/base.html" %}
{% load i18n static %}

{% block nav-item-tablero %}<li class="nav-item active">{% endblock %}

{% block content-on-row %}
          <!-- Content Row -->
          <div class="row">
            {% for ficha, f in minifichas.items %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-{{ f.clase_css }} shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-{{ f.clase_css }} text-uppercase mb-1">{{ f.titulo }}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ f.cantidad }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="{{ f.icono }} fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- En Construcción -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">En Construcción</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_under_construction_46pa.svg' %}" alt="">
                  </div>
                  <p>CertiPro es un sistema informático diseñado para gestionar (generar, consultar, editar...) de manera
                    simple, certificados de asistencia a eventos didácticos o de otro tipo.
                  </p>
                  <p class="mb-0">El front-end se apoya en la plantilla SB Admin 2, la cual está basada en Bootstrap 4,
                    HTML5 y otras herramientas web estándares. En el back-end está desarrollado en Python 3 usando como
                    framework web Django 3.
                  </p>
                  <a target="_blank" rel="nofollow" href="https://twitter.com/maikelitus">Más información &rarr;</a>
                </div>
              </div>

            </div>
          </div>
{% endblock %}
{% block content-on-table %}{% endblock %}
