<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreInfoModalLabel"><em>{{ object.nombres }} {{ object.apellidos }}</em></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
        {% for sigla, nacionalidad in object.NACIONALIDADES %}
            {% if sigla == object.nacionalidad %}
            <li class="list-group-item">Nacionalidad: <em>{{ nacionalidad }}</em></li>
            {% endif %}
        {% endfor %}

        {% if not object.nacionalidad %}
            <li class="list-group-item">Nacionalidad: <em>No ha sido definida.</em></li>
        {% endif %}
            <li class="list-group-item">Número de Cédula de Identidad: <em>{{ object.numero_ci_humano }}</em></li>
          </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-success" href="{% url 'admin:asistentes_asistente_change' object.id %}" target="_blank">Editar</a>
      </div>
    </div>
  </div>