{% if not widget.required %}
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
    <label class="custom-control-label" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
</div>
<br>
{% endif %}
<div class="custom-file">
    <input type="{{ widget.type }}" class="custom-file-input" name="{{ widget.name }}" lang="es"{% include "django/forms/widgets/attrs.html" %}>
    <label class="custom-file-label" for="customFile"{% include "django/forms/widgets/attrs.html" %}>Seleccionar archivo</label>
</div>

