<a href="#" class="btn btn-primary btn-circle btn-sm btn_info" title="Ver más" data-url-detalle="{% url 'temario:detalle' record.id %}">
  <i class="fas fa-eye"></i>
</a>
<a href="{% url 'admin:temario_tema_change' record.id %}" target="_blank" class="btn btn-success btn-circle btn-sm" title="Editar en el Administrador">
  <i class="fas fa-edit"></i>
</a>
