<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moreInfoModalLabel"><em>{{ object.titulo }}</em></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <nav>
          {% with cantidad_ediciones=object.detalletema_set.count  %}
          {% if cantidad_ediciones == 1 %}
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for tema in object.detalletema_set.all %}
            <a class="nav-item nav-link active" id="nav-{{ tema.id }}-tab" data-toggle="tab" href="#nav-{{ tema.id }}" role="tab" aria-controls="nav-{{ tema.id }}" aria-selected="false">{{ tema.edicion }}</a>
            {% endfor %}
          </div>
          <div class="tab-content" id="nav-tabContent">
            {% for tema in object.detalletema_set.all %}
            <div class="tab-pane fade show active mt-1" id="nav-{{ tema.id }}" role="tabpanel" aria-labelledby="nav-{{ tema.id }}-tab">{{ tema.contenido|safe }}</div>
            {% endfor %}
          </div>
          {% else %}
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for tema in object.detalletema_set.all %}
            <a class="nav-item nav-link" id="nav-{{ tema.id }}-tab" data-toggle="tab" href="#nav-{{ tema.id }}" role="tab" aria-controls="nav-{{ tema.id }}" aria-selected="false">{{ tema.edicion }}</a>
            {% endfor %}
          </div>
          <div class="tab-content" id="nav-tabContent">
            {% for tema in object.detalletema_set.all %}
            <div class="tab-pane fade  mt-1" id="nav-{{ tema.id }}" role="tabpanel" aria-labelledby="nav-{{ tema.id }}-tab">{{ tema.contenido|safe }}</div>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
        </nav>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-success" href="{% url 'admin:temario_tema_change' object.id %}" target="_blank">Editar</a>
      </div>
    </div>
  </div>